@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    height: 100vh;
    background-color: #f3e1e6;
}

header {
    background: linear-gradient(to right, #363a39, #7d7d7d);
    border-bottom: 3px solid #cf969b;
}

.lineaHorizontal {
    width: 100%;
    height: 3px;
    background-color: #cf969b;
    margin: 0;
    padding: 0;
}

.inicio {
    background: linear-gradient(to right, #363a39, #7d7d7d);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    height: 100vh;
}

.inicio header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.navbar-nav .nav-link {
    color: #f3e1e6;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f3e1e6;
}

.navbar-nav .nav-link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ff9a9e;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link.active {
    color: #f3e1e6;
}

.navbar-nav .nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #cf969b;
}

.inicio .logo img {
    height: 50px;
}

.barra-logo {
    color: #cf969b;
}


.inicio .contenido {
    margin-left: 10%;
    left: 15%;
}

.inicio .contenido h1 {
    font-family: 'Mulish';
    font-size: 170px;
    line-height: 160px;
    padding-top: 100px;
    color: #cf969b;
}

.inicio .contenido .descripcion {
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 4px;
}

.inicio .contenido .color {
    color: #cf969b;
}

.inicio .contenido .redes {
    margin-top: 50px;
}

.inicio .contenido .redes a {
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
    transition: .5s;
}

.inicio .contenido .redes a:hover {
    color: #cf969b;
}

.sobre-mi,
.experiencia,
.formacion {
    color: #363a39;
}

.sobre-mi img,
.experiencia img {
    border: 3px solid #cf969b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sobre-mi h2,
.experiencia h2,
.formacion h2,
.proyectos h2 {
    color: #cf969b;
}

.sobre-mi p,
.experiencia p,
.formacion p {
    text-align: justify;
}

.sobre-mi a,
.experiencia a,
.formacion a,
footer a {
    color: #cf969b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sobre-mi a:hover,
.experiencia a:hover,
.formacion a:hover,
footer a:hover {
    color: #ff9a9e;
    font-weight: bold;
}


.formacion ul {
    padding-left: 0;
}

.formacion li h5 {
    color: #7d7d7d;
    font-weight: bold;
}

.formacion li p {
    margin-bottom: 0.5rem;
    color: #555555;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px auto;
    width: 90%;
    width: 1200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #cf969b;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease;
}

.carousel-slide {
    min-width: 100%;
    transition: opacity 0.5s;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
}

footer {
    background: linear-gradient(to right, #363a39, #7d7d7d);
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
}
