@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    height: 100vh;
    background-color: #f3e1e6;
}

header {
    background: linear-gradient(to right, #363a39, #7d7d7d);
    border-bottom: 3px solid #cf969b;
    padding: 20px;
    text-align: center;
    color: white;
}

.reference-container {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reference-card {
    background-color: white;
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid #cf969b;
    text-align: center;
}

.reference-card h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    color: #cf969b;
    margin-bottom: 10px;
}

.reference-card p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.reference-card a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #cf969b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.reference-card a:hover {
    background-color: #7d7d7d;
}

footer {
    background: linear-gradient(to right, #363a39, #7d7d7d);
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
}