body {
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para los elementos del menú */
.navbar-nav .nav-link {
  color: #d4af37; 
  position: relative; 
  padding-bottom: 5px; 
  transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
  color: #f3e1e6; 
}

/* Línea rosa debajo del enlace al pasar el ratón */
.navbar-nav .nav-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 100%; 
  height: 3px;
  background-color: #ff9a9e; 
  transition: all 0.3s ease; 
}

/* Estilo para el enlace activo (cuando está en la sección correspondiente) */
.navbar-nav .nav-link.active {
  color: #f3e1e6; 
}

/* Línea rosa debajo del enlace activo */
.navbar-nav .nav-link.active::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 100%; 
  height: 3px; 
  background-color: #cf969b; 
}

.logo {
  width: 170px;
  height: auto;
  margin-top: -2px;
}

section {
  padding: 60px 0;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.foto-perfil {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #d4af37;
}

.card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 250px; 
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#about {
  background: linear-gradient(to right, #cf969b, #f3e1e6);
  color: white;
}

#projects .card img {
  border-radius: 10px;
  height: 300px; 
  object-fit: cover; 
}

.carousel-item .card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 300px; 
}

.carousel-item .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333; 
}

.icon-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.icon-box i {
  font-size: 2rem;
  color: #cf969b;
  margin-right: 15px;
}

.icon-box h4 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #cf969b;
}

.icon-box p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

#contact {
  background: linear-gradient(to right, #f3e1e6, #cf969b);
  color: white;
}

footer {
  background: #333;
  color: white;
}
